<%- include('../partials/header') %>
<h4>My Profile</h4>
<div class="card p-3 mb-3" style="max-width:520px">
  <dl class="row mb-0">
    <dt class="col-sm-4">Name</dt><dd class="col-sm-8"><%= u.name %></dd>
    <dt class="col-sm-4">Email</dt><dd class="col-sm-8"><%= u.email %></dd>
    <dt class="col-sm-4">Phone</dt><dd class="col-sm-8"><%= u.phone || '-' %></dd>
    <dt class="col-sm-4">Role</dt><dd class="col-sm-8"><%= u.role %></dd>
    <dt class="col-sm-4">Joined</dt><dd class="col-sm-8"><%= fmtDate(u.created_at) %></dd>
  </dl>
</div>
<form method="post" action="/users/me/password" class="card p-3" style="max-width:520px">
  <h6>Change Password</h6>
  <div class="mb-2"><label class="form-label">Current</label><input name="current" type="password" class="form-control" required></div>
  <div class="mb-2"><label class="form-label">New</label><input name="password" type="password" class="form-control" required minlength="6"></div>
  <div class="mb-2"><label class="form-label">Confirm</label><input name="confirm" type="password" class="form-control" required minlength="6"></div>
  <button class="btn btn-primary">Update Password</button>
</form>
<%- include('../partials/footer') %>
